<a href="https://colab.research.google.com/github/AymenTlili131/The-sound-of-Ai-Hack-V1.0/blob/working_proposals/df_sigmoid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
import numpy as np
import pandas as pd

In [ ]:
def sigmoid(z):
    return (1+np.exp(-z))**(-1)

In [ ]:
def sigmoid_dataframe(tracks,DF):
  a = DF['Song_name']
  df = pd.DataFrame(columns=[list(DF.index)],index=tracks)
  return df

In [ ]:
####dataframe input
df_India=pd.read_csv('/content/df_india.csv' )
df_India.head()

In [7]:
DF= pd.DataFrame(columns=["Song_name","Cluster label","artist popularity","popularity","valence","danceability","modes","India","Mexico","Sweden","USA","mel","rms(mean)","rms(var)","sc(mean)","sc(var)","zcr(mean)","zcr(var)","duration","bpm"])

In [56]:
for i in range(len(df_India)):
    DF.at[i, "Song_name"]=df_India.at[i,'name']
    DF.at[i, "artist popularity"]=df_India.at[i,'artist popularity']
    DF.at[i, "popularity"]=df_India.at[i,"popularity"]
    DF.at[i, "valence"]=df_India.at[i,"valence"]
    DF.at[i, "danceability"]=df_India.at[i,"danceability"]
    DF.at[i, "modes"]=df_India.at[i,"modes"]
    DF.at[i, "India"]=1
    DF.at[i, "Mexico"]=0
    DF.at[i, "Sweden"]=0
    DF.at[i, "USA"]=0

In [ ]:
DF

In [55]:
i=DF[DF['Song_name']=='295']
i['popularity']

2    82
Name: popularity, dtype: object

In [ ]:
list(DF.index)

In [ ]:
x['Insane']
DF['popularity'][x['Insane']]

In [ ]:
DF

In [ ]:
DF.columns

In [117]:
#######################
l = ['artist popularity', 'popularity',
       'valence', 'danceability', 'modes', 'India', 'Mexico', 'Sweden', 'USA',
     ]

### we need mean of songs features of each cluster
'''
for song_id in dataframe.index:
  if DF.at[song_id, cluster_label] == cluster_label_input_song:
'''
av = []
for i in range(len(l)):
  av.append(DF.at[0,l[i]])

mean = np.mean(av)
mean
3,10
#songname,clusterlabel,feature_av

17.042555555555555

In [109]:
#######################
l = ['artist popularity', 'popularity',
       'valence', 'danceability', 'modes', 'India', 'Mexico', 'Sweden', 'USA',
     'rms(mean)', 'rms(var)', 'sc(mean)', 'sc(var)', 'zcr(mean)',
       'zcr(var)', 'duration', 'bpm']

DF.at[0,l[0]]

input = ['Insane','Unstoppable','Akhiyaan']

x = sigmoid_dataframe(input,DF)

input_1 =DF[DF['Song_name']== input[0]]
track_1_val = input_1['popularity'].iloc[0]

input_2 =DF[DF['Song_name']== input[1]]
track_2_val = input_2['valence'].iloc[0]

input_3 =DF[DF['Song_name']== input[2]]
track_3_val = input_3['danceability'].iloc[0]

normal_d = 0.001* np.random.randn(1,1)[0]

sigmoid('AV_CNNN'+ normal_d + (track_1_val * sigmoid(track_1_val)) + (track_2_val * sigmoid(track_2_val))+ (track_3_val * sigmoid(track_3_val)))

array([1.])

In [118]:
DF

,Song_name,Cluster label,artist popularity,popularity,valence,danceability,modes,India,Mexico,Sweden,USA,mel,rms(mean),rms(var),sc(mean),sc(var),zcr(mean),zcr(var),duration,bpm
0,Pasoori,NaN,66,85,0.669,0.714,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NO LOVE,NaN,68,82,0.733,0.771,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,295,NaN,80,82,0.432,0.557,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Excuses,NaN,74,82,0.494,0.837,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Left and Right (Feat. Jung Kook of BTS),NaN,83,94,0.719,0.881,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,The Last Ride,NaN,80,81,0.638,0.792,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Pathala Pathala (From ""Vikram"")",NaN,81,78,0.936,0.826,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Vikram - Title Track,NaN,81,80,0.145,0.638,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Chaand Baaliyan,NaN,62,80,0.886,0.729,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Arabic Kuthu - Halamithi Habibo (From ""Beast"")",NaN,81,80,0.625,0.608,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Tu Aake Dekhle,NaN,66,79,0.192,0.77,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Levels,NaN,80,79,0.577,0.592,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,As It Was,NaN,93,94,0.662,0.52,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,WE ROLLIN,NaN,68,79,0.278,0.816,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Bhool Bhulaiyaa 2 Title Track,NaN,82,67,0.845,0.857,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Heat Waves,NaN,80,91,0.531,0.761,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Raataan Lambiyan (From ""Shershaah"")",NaN,75,78,0.512,0.72,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"Maiyya Mainu (From ""Jersey"")",NaN,64,78,0.224,0.63,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Glimpse of Us,NaN,86,99,0.268,0.44,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Jhoom - R&B Mix,NaN,61,75,0.617,0.662,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Dippam Dappam (From ""Kaathuvaakula Rendu Kaadh...",NaN,81,76,0.772,0.827,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Rangisari (From ""Jugjugg Jeeyo"")",NaN,59,72,0.319,0.524,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Night Changes,NaN,83,87,0.37,0.672,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"Ranjha (From ""Shershaah"")",NaN,65,77,0.236,0.603,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,SYL,NaN,80,75,0.594,0.628,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Once Upon a Time,NaN,81,77,0.429,0.646,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Never Fold (feat. Sunny Malton),NaN,80,78,0.797,0.814,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,MIDDLE OF THE NIGHT,NaN,74,93,0.0899,0.41,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"Kesariya Audio Teaser (From ""Brahmastra"")",NaN,82,77,0.465,0.56,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"Kesariya Audio Teaser (From ""Brahmastra"")",NaN,82,77,0.465,0.56,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,"Private Party (From ""Don"")",NaN,81,75,0.896,0.862,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,STAY (with Justin Bieber),NaN,83,88,0.478,0.591,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,"Kaadhal En Kaviye - From ""Salmon 3D""",NaN,73,72,0.396,0.625,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"Kaise Hua (From ""Kabir Singh"")",NaN,65,69,0.15,0.385,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Hum Nashe Mein Toh Nahin,NaN,82,65,0.778,0.572,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,"Agar Tum Saath Ho (From ""Tamasha"")",NaN,73,70,0.415,0.562,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Akhiyaan,NaN,61,76,0.0683,0.724,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,"Adiye - From ""Bachelor""",NaN,59,76,0.548,0.709,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Let Me Down Slowly,NaN,76,84,0.483,0.652,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Everybody Hurts,NaN,80,77,0.575,0.738,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Meri Jaan,NaN,69,75,0.693,0.745,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Mehabooba,NaN,65,63,0.278,0.367,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,"Dil Ko Karaar Aaya (From ""Sukoon"")",NaN,66,76,0.388,0.55,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"Jalabulajangu (From ""Don"")",NaN,81,75,0.457,0.635,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Shayad,NaN,82,72,0.319,0.483,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Insane,NaN,74,76,0.304,0.796,0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Aankhon Se Batana,NaN,55,74,0.335,0.544,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Run BTS,NaN,92,90,0.696,0.724,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Rangi Saari,NaN,63,74,0.268,0.613,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Unstoppable,NaN,82,80,0.26,0.468,1,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
input = ['Insane','Unstoppable','Akhiyaan']

x = sigmoid_dataframe(input,DF)
x

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
Insane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unstoppable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Akhiyaan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN