In [1]:
#!/usr/bin/python
import os, sys
import pandas as pd
import librosa
import random
from datetime import datetime

In [2]:
from collections import defaultdict

In [3]:
# Open a file
path = "./Dataset/"
dirs = os.listdir( path )

# This would print all the files and directories
for file in dirs:
    print(file)

32Stitches - Olympus [NCS Release].wav
3rd Prototype & Emdi - House [NCS Release].wav
3rd Prototype - I'm Fine [NCS Release].wav
Aero Chord & Anuka - Incomplete (Lyric Video) [NCS Release].wav
Alex Skrindo & Miza - Thinkin' [NCS Release]_2.wav
Alva Gracia - Emotions Like [NCS Release].wav
Andromedik - SHE [NCS Release].wav
Anna Yvette - Running Out of Time [NCS Release].wav
Arcien - Elevate [NCS Release].wav
Ascence - Without You [NCS Release].wav
Ash O'Connor - Vibe [NCS Release].wav
Au5 - Closer (feat. Danyka Nadeau) [NCS Release].wav
Audioscribe - Free Fall [NCS Release].wav
Axollo - Burn It [NCS Release].wav
BEAUZ & Momo - Won't Look Back [NCS Release].wav
Beave - Talk [NCS Release].wav
Cadmium - Click & Scroll (feat. Eli Raain & Veronica Bravo) [NCS Release].wav
Carl Zeer & Waterbeld & Fearon - Talk To Me [NCS Release].wav
Cartoon - C U Again feat. Mikk MÃ¤e (Cartoon vs Futuristik VIP) [NCS Release].wav
Chime - Phototropic [NCS Release].wav
Clarx & Harddope - Castle [NCS Release].wav
Coopex - Over The Sun [NCS Release].wav
DEAF KEV - Invincible [NCS Release].wav
Desmeon - On That Day (feat. ElDiablo, Flint & Zadik) [NCS Release].wav
Diamond Eyes - Hold On [NCS Release].wav
DM Galaxy - Bad Motives (feat. Aloma Steele) [NCS Release].wav
Droptek - New Style [NCS Release].wav
Egzod & Wasiu - Mutiny [NCS Release - Copyright Free Music].wav
Electro Light ft. Kathryn MacLean - The Edge [NCS Release].wav
Electronic Vibes - Don't Leave Me (ft. Mime) [NCS Release].wav
ElementD & Chris Linton - Ascend [NCS Release].wav
Elliot Berger - Hold On (feat. Ranja) [NCS Release].wav
Facading - Feelings [NCS Release].wav
Far Out - Chains (feat. Alina Renae) [NCS Release].wav
Fareoh - Cloud Ten [NCS Release].wav
Foria - Break Away [NCS Release].wav
Halvorsen - Band-Aid [NCS Release].wav
hayve - Half Alive (feat. imallryt) [NCS Release].wav
if found - Dead of Night [NCS Release].wav
Jim Yosef - Link [NCS Release].wav
JJD - Adventure [NCS Release].wav
K-391 - Earth [NCS Release].wav
Kontinuum - Aware [NCS Release].wav
Krakn - Light [NCS Release].wav
Last Heroes - Dimensions [NCS Release].wav
Lost Sky - Where We Started (feat. Jex) [NCS Release].wav
N3WPORT & Meggie York - Runaway [NCS Release]_2.wav
Papa Khan - Wounds [NCS10 Release].wav
Rival - Falling (with CRVN) [NCS Release].wav
Rob Gasser - Ricochet [NCS Release].wav

In [4]:
#Creating the database
    #(engagement : percentage of the song listened to ,
    #enjoyment: number of times the song was listened to by that same user ,
    #controversy: number of comments left on that song by that user)
DataBase=pd.DataFrame(None, index=['Time'],columns=['User_ID', 'Song_ID','enjoyment','engagement(%)','controversy','popularity score','cluster number'])
DataBase

,User_ID,Song_ID,enjoyment,engagement(%),controversy,popularity score,cluster number
Time,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Create list of users
D_Users={} #user id->user instance
D_Songs={} #song id->song instance

In [6]:
#creating a User instance:
class User:
    def __init__(self,ID):
        self.id=ID
        self.D_repetitions=defaultdict(lambda: 0) #map str(song ID) to number of times listened to
    def listento(self,S_ID):
        #increments D_repetition value
        self.D_repetitions[str(S_ID)]+=1
    def rate_enjoyment(self,S_ID):
        self.listento(S_ID)
        Sum=0
        for repetition in self.D_repetitions.values():
            Sum+=repetition
        return self.D_repetitions[str(S_ID)]/Sum
    def rate_engagement(self,S_ID):
        rate=int((0.05+random.uniform(0, 0.95))*100)/100
        return rate
    def Comment(self,S_ID):
        D_Songs[str(S_ID)].Comments+1
        print( "user"+str(self.id)+"commented on song with ID:"+str(S_ID))

In [7]:
#Creating 1000 users
#user increment User_inc (how many new users we want to add when we run this, first run is 1000)
User_inc=1000
n_User=User_inc+len(D_Users)
for i in range(n_User):
    U=User(i)
    D_Users[str(i)]=U
len(D_Users.keys())

1000

In [8]:
#Create list of songs

In [9]:
#creating a Song instance:
#(engagement : percentage of the song listened to ,
#enjoyment: number of times the song was listened to by that same user ,
#controversy: number of comments left on that song by that user)
class Song:
    def __init__(self,ID):
        song_strs=dirs[ID]
        file_path=path+song_strs
        self.id=ID
        self.song_str=dirs[ID]
        self.l=[x.strip() for x in self.song_str.split('-')]
        self.artist=[x.strip() for x in self.l[0].split("&")] 
        self.songName=[x.strip() for x in self.l[1].split("[NCS Release]")][0]
        self.Length=librosa.get_duration(filename=file_path)
        self.Comments=0

In [10]:
#Creating 1000 Songs
#user increment User_inc (how many new Songs we want to add when we run this, first run is 1000)
Song_inc=50
n_Song=Song_inc+len(D_Songs)
for i in range(n_Song):
    S=Song(i)
    D_Songs[str(i)]=S
len(D_Songs.keys())

50

In [11]:
now = datetime.now()

current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)

Current Time = 20:58:24

In [12]:
#(engagement X0.25+enjoyment X0.6+controversy X0.15) 
#enjoyment   0<  TO DO to improve: uniform  distribution
#engagement(%) 0< <1
#controversy 0< TO DO to improve:normal distribution
def popularity_score(U_id,S_id):
    S=  D_Users[str(U_id)].rate_enjoyment(D_Songs[str(S_id)].id)*6+D_Users[str(U_id)].rate_engagement(D_Songs[str(S_id)].id)*0.25+D_Songs[str(S_id)].Comments*0.15
    return S

In [13]:
attempt=[current_time,
 D_Users['0'].id,
 D_Songs['0'].id,
 D_Users['0'].rate_enjoyment(D_Songs['0'].id),
 D_Users['0'].rate_engagement(D_Songs['0'].id),
 D_Songs['0'].Comments,
 popularity_score(0,0),
         None
]

In [14]:
attempt #user 0 listened to song 0 and we had the following values

['20:58:24', 0, 0, 1.0, 0.98, 0, 6.0275, None]

<li>save the list of users 
<li>save the list of songs
<li>save user x song experience

In [15]:
#DataBase.loc[len(DataBase)] = attempt[1:] testing on one adds attemps to database

1000 users<br>
50 songs <br>
let's make  135000 observations (on average each user listened to 13.5 songs)

In [16]:
for observation in range (13500):
    user_id=int(random.uniform(0, 1000))
    song_id=int(random.uniform(0, 50))
    comment_appearance =random.uniform(10, 100)
    if observation/100<comment_appearance :
        D_Users[str(user_id)].Comment(song_id)
    attempt=[current_time,
     D_Users[str(user_id)].id,
     D_Songs[str(song_id)].id,
     D_Users[str(user_id)].rate_enjoyment(D_Songs[str(song_id)].id),
     D_Users[str(user_id)].rate_engagement(D_Songs[str(song_id)].id),
     D_Songs[str(song_id)].Comments,
     popularity_score(0,0),
             None
    ]
    DataBase.loc[len(DataBase)] = attempt[1:]

user165commented on song with ID:8
user782commented on song with ID:3
user236commented on song with ID:18
user156commented on song with ID:23
user784commented on song with ID:17
user931commented on song with ID:20
user782commented on song with ID:8
user461commented on song with ID:24
user546commented on song with ID:12
user81commented on song with ID:42
user577commented on song with ID:4
user731commented on song with ID:48
user390commented on song with ID:19
user270commented on song with ID:1
user744commented on song with ID:29
user680commented on song with ID:6
user92commented on song with ID:28
user611commented on song with ID:44
user233commented on song with ID:44
user759commented on song with ID:39
user414commented on song with ID:16
user620commented on song with ID:24
user178commented on song with ID:33
user653commented on song with ID:33
user812commented on song with ID:48
user348commented on song with ID:39
user15commented on song with ID:28
user842commented on song with ID:16
user142commented on song with ID:2
user425commented on song with ID:9
user223commented on song with ID:23
user473commented on song with ID:34
user258commented on song with ID:2
user47commented on song with ID:47
user900commented on song with ID:23
user252commented on song with ID:40
user328commented on song with ID:32
user264commented on song with ID:12
user514commented on song with ID:8
user334commented on song with ID:27
user495commented on song with ID:17
user670commented on song with ID:47
user125commented on song with ID:7
user80commented on song with ID:13
user272commented on song with ID:22
user407commented on song with ID:47
user540commented on song with ID:9
user729commented on song with ID:19
user761commented on song with ID:34
user576commented on song with ID:21
user676commented on song with ID:17
user981commented on song with ID:3
user340commented on song with ID:19
user818commented on song with ID:43
user471commented on song with ID:7
user624commented on song with ID:24
user421commented on song with ID:22
user865commented on song with ID:34
user497commented on song with ID:27
user251commented on song with ID:21
user918commented on song with ID:2
user266commented on song with ID:48
user522commented on song with ID:2
user903commented on song with ID:43
user215commented on song with ID:4
user431commented on song with ID:11
user953commented on song with ID:22
user136commented on song with ID:21
user738commented on song with ID:46
user397commented on song with ID:48
user330commented on song with ID:24
user987commented on song with ID:10
user446commented on song with ID:16
user778commented on song with ID:10
user452commented on song with ID:37
user628commented on song with ID:45
user795commented on song with ID:41
user884commented on song with ID:18
user353commented on song with ID:37
user396commented on song with ID:22
user70commented on song with ID:4
user506commented on song with ID:29
user799commented on song with ID:40
user931commented on song with ID:34
user267commented on song with ID:2
user997commented on song with ID:7
user648commented on song with ID:46
user190commented on song with ID:34
user119commented on song with ID:11
user456commented on song with ID:0
user222commented on song with ID:15
user173commented on song with ID:28
user982commented on song with ID:35
user286commented on song with ID:36
user573commented on song with ID:26
user974commented on song with ID:34
user207commented on song with ID:6
user249commented on song with ID:34
user629commented on song with ID:22
user966commented on song with ID:49
user839commented on song with ID:34
user466commented on song with ID:4
user537commented on song with ID:42
user7commented on song with ID:38
user76commented on song with ID:41
user824commented on song with ID:16
user462commented on song with ID:47
user976commented on song with ID:29
user273commented on song with ID:5
user207commented on song with ID:23
user90commented on song with ID:14
user62commented on song with ID:35
user686commented on song with ID:18
user480commented on song with ID:40
user667commented on song with ID:45
user442commented on song with ID:11
user479commented on song with ID:6
user468commented on song with ID:17
user985commented on song with ID:21
user660commented on song with ID:43
user457commented on song with ID:5
user965commented on song with ID:43
user129commented on song with ID:23
user53commented on song with ID:8
user651commented on song with ID:7
user10commented on song with ID:15
user4commented on song with ID:31
user678commented on song with ID:38
user343commented on song with ID:17
user929commented on song with ID:36
user315commented on song with ID:33
user624commented on song with ID:15
user369commented on song with ID:13
user656commented on song with ID:39
user322commented on song with ID:6

In [20]:
DataBase.describe()

,User_ID,Song_ID,enjoyment,engagement(%),controversy,popularity score,cluster number
count,135.000000,135.000000,135.000000,135.000000,135.0,135.000000,0.0
mean,493.444444,24.022222,0.985185,0.484593,0.0,6.127352,NaN
std,283.215062,14.340459,0.085097,0.289502,0.0,0.070354,NaN
min,4.000000,0.000000,0.500000,0.050000,0.0,6.012500,NaN
25%,261.000000,11.500000,1.000000,0.195000,0.0,6.065000,NaN
50%,468.000000,23.000000,1.000000,0.500000,0.0,6.132500,NaN
75%,730.000000,36.000000,1.000000,0.755000,0.0,6.190000,NaN
max,997.000000,49.000000,1.000000,0.990000,0.0,6.247500,NaN

In [18]:
DataBase.tail()

,User_ID,Song_ID,enjoyment,engagement(%),controversy,popularity score,cluster number
131,315.0,33.0,1.0,0.10,0.0,6.0200,NaN
132,624.0,15.0,0.5,0.53,0.0,6.0275,NaN
133,369.0,13.0,1.0,0.69,0.0,6.2375,NaN
134,656.0,39.0,1.0,0.26,0.0,6.1900,NaN
135,322.0,6.0,1.0,0.11,0.0,6.0700,NaN

In [19]:
file_path=path+song_strs
librosa.get_duration(filename=file_path)

NameError: name 'song_strs' is not defined

In [ ]:
song_strs=dirs[46]
L=[x.strip() for x in song_strs.split('-')]
L

In [ ]:
L_artists=[x.strip() for x in L[0].split("&")] 
L_artists

In [ ]:
L_Song_names=[x.strip() for x in L[1].split("[NCS Release]")][0]
L_Song_names